// If you want to override variables do it here
@import "variables";

// Import CoreUI styles
@import "~@coreui/coreui/scss/coreui.scss";

// Some temp fixes
@import "fixes";

// If you want to add something do it here
@import "custom";


// label {
//     font-size: .7rem;
//   }

  input.form-control, input.form-control:focus {
    background: #F0F0FF;
  }

  .error {
    position: absolute;
    color: red;
  }
  .error-1 {
    color: red;
  }
  