
DB_URL= mongodb+srv://mohit:mohit@cluster0.bpif4.mongodb.net/LeaveManagement?retryWrites=true&w=majority
PORT=8000
EMAIL_USER=test.chapter247@gmail.com
EMAIL_PASSWORD=test_chapter247@@@123 
EMAIL_SERVICE=gmail
TOKEN_KEY=hhkjjkhcgddgds4432222ffgggg
POSSIBLE_PASSWORDS=abcdefghijklmnopqrstuvwxyz@$ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789